@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  
  /* Light Mode */
  --color-primary-light: #3A2E41FF; /* Nero carbone */
  --color-secondary-light: #C2A8C5FF; /* Bianco puro */
  --color-tertiary-light: #536866FF; /* Grigio chiaro */

  /* Dark Mode */
  --color-primary-dark: #59E48CFF; /* Ciano neon */
  --color-secondary-dark: #101010; /* Nero carbone */
  --color-tertiary-dark: #070007FF; /* Grigio scuro */

   /* Connect WEB3-RAINBOW Button */
   --color-button-light: #684580FF; /* Ciano neon */
   --color-button-dark: #684580FF; /* Ciano neon */

}

